<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>answernet.emailresponse.filters</id>
	<name>[Answernet.com]: Email Respone Custom Biz Logic for Metlife</name>
	<description>Plugin that implents buness logic for the Metlife Account</description>
	<author>Robert Middleswarth</author>
	<revision>1</revision>
	<link>http://answernet.com/</link>
	<class>
		<file>app/plugin.php</file>
		<name>AnswernetMetlifePlugin</name>
	</class>

  <acl>
    <priv id="reports.group.emailresponse.metlife" label="acl.reports.group.emailresponse.metlife" />
  </acl>

  <extensions>
    <extension point="devblocks.i18n.strings">
      <id>metlife.translations</id>
      <name>Email Response Metlife Translation Strings</name>
      <class>
        <file>api/plugin.php</file>
        <name>MetlifeTranslations</name>
      </class>
      <params>
      </params>
    </extension>
    
		<extension point="cerberusweb.mail_filter.action">
			<id>answernet.metlife_filters.action.copy</id>
			<name>Action: Copy Values from Metlife forms to Custom Field</name>
			<class>
				<file>app/filter.php</file>
				<name>AnswernetMetlifeFilterCopyAction</name>
			</class>
      <params>
      </params>
		</extension>
    
    <extension point="cerberusweb.report.group">
      <id>report.group.emailresponse.metlife</id>
      <name>Metlife Custom Reports</name>
      <class>
        <file>api/report.php</file>
        <name>MetlifeReportGroup</name>
      </class>
      <params>
        <param key="group_name" value="reports.group.emailresponse.metlife" />
        <param key="acl" value="reports.group.emailresponse.metlife" />
      </params>
    </extension>
  
    <extension point="cerberusweb.report">
      <id>report.group.emailresponse.metlife.report1</id>
      <name>Metlife Reports for the Email Response</name>
      <class>
        <file>api/report.php</file>
        <name>MetlifeReportGroupReport1</name>
      </class>
      <params>
        <param key="report_name" value="reports.group.emailresponse.metlife.report1" />
        <param key="report_group" value="report.group.emailresponse.metlife" />
      </params>
    </extension>
	</extensions>
</plugin>
