<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>answernet.emailresponse.reports</id>
	<name>Answernet: Email Response Reports</name>
	<description>Reports created by Answernet</description>
	<author>Robert Middleswarth</author>
	<revision>1</revision>
	<link>http://www.answernet.com/</link>
	<class>
		<file>api/App.php</file>
		<name>EmailResponseReportsPlugin</name>
	</class>
	
	<acl>
		<priv id="reports.group.emailresponse.answernet" label="acl.reports.group.emailresponse.answernet" />
	</acl>

	<extensions>
		<extension point="devblocks.i18n.strings">
			<id>emailresponse.translations</id>
			<name>Email Response Translation Strings</name>
			<class>
				<file>api/App.php</file>
				<name>EmailResponseTranslations</name>
			</class>
			<params>
			</params>
		</extension>
		
		<extension point="cerberusweb.report.group">
			<id>report.group.emailresponse.answernet</id>
			<name>Email Response Custom Reports</name>
			<class>
				<file>api/App.php</file>
				<name>EmailResponseReportGroups</name>
			</class>
			<params>
				<param key="group_name" value="reports.ui.group.emailresponse.answernet" />
				<param key="acl" value="reports.group.emailresponse.answernet" />
			</params>
		</extension>
	
		<extension point="cerberusweb.report">
			<id>report.group.emailresponse.answernet.metlife</id>
			<name>Email Response Metlife Reports for the helpdesk</name>
			<class>
				<file>api/App.php</file>
				<name>EmailResponseReportMetLife</name>
			</class>
			<params>
				<param key="report_name" value="reports.ui.group.emailresponse.answernet.metlife" />
				<param key="report_group" value="report.group.emailresponse.answernet" />
			</params>
		</extension>
		
	</extensions>
	
</plugin>
