<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>cerb5blog.watchers2</id>
	<name>[Cerb5Blog] Watchers 2.0</name>
	<description>Create Watchers / Notifications when tickets and other parts of the system changes.  Includes an API so thing can be changed outside the code.</description>
	<author>Robert Middleswarth based on code from WebGroup Media, LLC. (WGM)</author>
	<revision>0</revision>
	<link>http://cerb5blog.com/project/wachers2</link>

	<class_loader>
		<file path="api/App.php">
			<class name="DAO_Watcher2MailFilter" />
			<class name="Model_Watcher2MailFilter" />
			<class name="SearchFields_Watcher2MailFilter" />
			<class name="C4_Watcher2View" />
			<class name="DAO_Watcher2MailTemplate" />
		</file>
	</class_loader>
	
	<extensions>

		<!-- Translations -->
		
		<extension point="devblocks.i18n.strings">
			<id>cerb5blog.watchers2.translations</id>
			<name>[Cerb5Blog] Watchers 2.0 Strings</name>
			<class>
				<file>api/Plugin.php</file>
				<name>Cerb5blogWatchers2Translations</name>
			</class>
			<params>
			</params>
		</extension>

		<!-- Patch Containers -->
		
		<extension point="devblocks.patch.container">
			<id>cerb5blog.watchers2.patches</id>
			<name>[Cerb5Blog] Watchers 2.0 Patches</name>
			<class>
				<file>api/Patch.php</file>
				<name>Cerb5blogWatchers2PatchContainer</name>
			</class>
			<params>
			</params>
		</extension>

		<!-- Event Listeners -->
		
		<extension point="devblocks.listener.event">
			<id>cerb5blog.watchers2.listeners</id>
			<name>[Cerb5Blog] Watchers 2.0 Listener</name>
			<class>
				<file>api/Listeners.php</file>
				<name>Cerb5blogWatchers2EventListener</name>
			</class>
			<params>
				<!-- E-mail Event Listener -->
				<param key="events">
					<value>
						<data key="bucket.delete" />						
						<data key="group.delete" />						
						<data key="ticket.comment.create" />
						<data key="ticket.property.pre_change" />
						<data key="ticket.reply.inbound" />
						<data key="ticket.reply.outbound" />						
						<data key="worker.delete" />						
					</value>
				</param>
			</params>
		</extension>
	
		<!-- Preference Tabs  -->
		
		<extension point="cerberusweb.preferences.tab">
			<id>cerb5blog.watchers2.pref.notifications</id>
			<name>[Cerb5Blog] Watchers 2.0 Preferences</name>
			<class>
				<file>api/App.php</file>
				<name>Cerb5blogWatchers2Preferences</name>
			</class>
			<params>
				<param key="uri" value="watchers2" />
				<param key="title" value="Watchers 2.0" />
			</params>
		</extension>
		
		<!-- Config Tabs -->
		
		<extension point="cerberusweb.config.tab">
			<id>cerb5blog.watchers2.config.tab</id>
			<name>[Cerb5Blog] Watchers 2.0 Tab</name>
			<class>
				<file>api/App.php</file>
				<name>Cerb5blogWatchers2ConfigTab</name>
			</class>
			<params>
				<param key="uri" value="watchers2" />
				<param key="title" value="Watchers 2.0" />
			</params>
		</extension>
	
	</extensions>
</plugin>