<!DOCTYPE plugin SYSTEM "../../libs/devblocks/plugin.dtd">
<plugin>
	<id>answernet.emailresponse.filters</id>
	<name>[Answernet]: Email Reposone Custom Filters for Metlife</name>
	<description>Metlife filters to pull custom data from the subject and body of an email into custom fields</description>
	<author>Robert Middleswarth</author>
	<revision>0</revision>
	<link>http://answernet.com//link>
	<class>
		<file>app/app.php</file>
		<name>AnswernetMetlifeFilterPlugin</name>
	</class>

	<extensions>
		<extension point="cerberusweb.mail_filter.action">
			<id>answernet.metlife_filters.action.copy</id>
			<name>Action: Copy Values from Metlife forms to Custom Field</name>
			<class>
				<file>app/app.php</file>
				<name>AnswernetMetlifeFilterCopyAction</name>
			</class>
			<params/>
		</extension>
	</extensions>
</plugin>

